$textColor: #000000;
$textCaontainerColor: #baccff;
$borderColor: #42579e;
$inputContainerColor: #788efe;
$btnColor: #42579e;
$btnAndInputBorderColor: #baccff;
$btnTextColor: #baccff;
$btnHoverColor: #baccff;
