@import 'variables';

body {
    font-size: 10px;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
        font-size: 2em;
        h1 {
            margin: 15px;
        }
    }
    &__about {
        font-size: 1.5em;
        margin-bottom: 20px;
        p {
            margin: 0 5px;
            text-align: center;
        }
    }
}
.translitor-input-container {
    background-color: $inputContainerColor;
    padding: 20px;
    border: 2px solid $borderColor;
    border-radius: 20px;
    .text-to-translit-input {
        max-width: 150px;
        height: 20px;
        border: 2px solid #42579e;
        border-radius: 10px;
    }
    input::placeholder {
        color: $textColor;
        text-align: center;
    }
    .translit-text-btn {
        max-width: 100px;
        height: 26px;
        outline: none;
        cursor: pointer;
        background-color: #baccff;
        color: $textColor;
        border: 2px solid $btnColor;
        border-radius: 10px;
    }
    .translit-text-btn:hover, .translate-text-btn:active {
        background-color: $btnColor;
        color: $btnTextColor;
        border: 2px solid $btnAndInputBorderColor;
    }
}
.translit-text-container {
    display: flex;
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
    padding: 15px;
    .text-to-translit-container {
        width: 300px;
        height: 300px;
        background-color: $textCaontainerColor;
        border: 2px solid $borderColor;
        border-radius: 20px 0px 0px 20px;
        overflow: scroll;
        &__text {
            margin: 15px;
        }
    }
    .translited-text-container {
        width: 300px;
        height: 300px;
        background-color: $textCaontainerColor;
        border: 2px solid $borderColor;
        border-radius: 0px 20px 20px 0px;
        overflow: scroll;
        &__text {
            margin: 15px;
        }
    }
}

@media  screen and (max-width:768px) {
    .translit-text-container {
        .text-to-translit, .translited-text {
            max-width: 300px;
            max-height: 200px;
        }
    }
}
@media  screen and (max-width:640px) {
    .translit-text-container {
        flex-direction: column;
        .text-to-translit-container {
            border-radius: 20px 20px 0px 0px;
        }
        .translited-text-container {
            border-radius: 0px 0px 20px 20px;
        }
    }
}
@media  screen and (max-width:320px) {
    .header {
        &__text {
            font-size: 1.5em;
        }
    }
    .translitor-input-container {
        background-color: $inputContainerColor;
        padding: 13px;
        .text-to-translit-input {
            max-width: 140px;
        }
        input::placeholder {
            font-size: 0.9em;
        }
    }
    .translit-text-container {
        align-items: center;
        .text-to-translit-container,  .translited-text-container{
            max-width: 250px;
            max-height: 160px;
        }
    }
}